{% extends 'bakery/base.php' %}
{% load staticfiles %}
{% block add_recipe %}
{% if user.is_authenticated}
<h1>Add recipe</h1>
<form>
  <div class="col-auto" style="max-width: 750px; padding: 15px; margin-left: auto;
    margin-right: auto;">
     <div class="row" id="row">

        <h4>Select an image
         <input type="file" data-bind="fileUpload: newImageDir" class="form-control mb-2 mb-sm-0" id="form" /></h4>
        <h4>Title
          <input data-bind="textInput:newTitle" maxlength="30" type="text" class="form-control mb-2 mb-sm-0" id="form" /></h4>
        <h4>Caption
          <input data-bind="textInput:newCaption" maxlength="40" type="text" class="form-control mb-2 mb-sm-0" id="form" /></h4>
        <h4>Baketype <select data-bind="textInput:newBakeType" class="form-control mb-2 mb-sm-0" id="form">
      <option>CAKES</option>
      <option>PIES</option>
      <option>COOKIES</option>
      <option>OTHER</option>
    </select> Serve</h4>
        <table>
          <tbody>
            <tr>
              <td class="tab">Serves</td>
              <td><input data-bind="textInput:newServe" maxlength="2" type="text" class="form-control mb-2 mb-sm-0" id="form" /> </td>

            </tr>
            <tr>
              <td class="tab">Preperation time</td>
              <td>
                <input data-bind="textInput:newPrepTime" maxlength="20" type="text" class="form-control mb-2 mb-sm-0" id="form" />
              </td>
            </tr>
            <tr>
              <td class="tab">Cooking time</td>
              <td><input data-bind="textInput:newCookTime" maxlength="30" type="text" class="form-control mb-2 mb-sm-0" id="form" /></td>
            </tr>
          </tbody>
        </table>
        <br />
        <p>Nutrition per serving:</p>
        <table class="table">
          <thead>
            <tr>
              <th>kCal</th>
              <th>Fat</th>
              <th>Carbs</th>
              <th>Sugar</th>
              <th>Protein</th>
              <th>Salt</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input data-bind="textInput:newKcal" maxlength="10" type="text" class="form-control mb-2 mb-sm-0" id="form" /></td>
              <td><input data-bind="textInput:newFat" maxlength="10" type="text" class="form-control mb-2 mb-sm-0" id="form" /></td>
              <td><input data-bind="textInput:newCarbs" maxlength="10" type="text" class="form-control mb-2 mb-sm-0" id="form" /></td>
              <td><input data-bind="textInput:newSugar" maxlength="10" type="text" class="form-control mb-2 mb-sm-0" id="form" /></td>
              <td><input data-bind="textInput:newProtein" maxlength="10" type="text" class="form-control mb-2 mb-sm-0" id="form" /></td>
              <td><input data-bind="textInput:newSalt" maxlength="10" type="text" class="form-control mb-2 mb-sm-0" id="form" /></td>
            </tr>
          </tbody>
        </table>

      </div>
    <div class="row">
      <div class="col-sm-12 line"></div>
    </div>
    <div class="row">
      <div class="col-sm-4" id="ingredients">
        <h4>Ingredients</h4>
        <textarea data-bind="textInput:newIngredients" maxlength="9000" type="text" class="form-control mb-2 mb-sm-0" id="form" ></textarea><br>

      </div>
      <div class="col-sm-8 recipe">
        <h4>Recipe</h4>
        <textarea data-bind="textInput:newRecipe" maxlength="9000" type="text" class="form-control mb-2 mb-sm-0" id="form" ></textarea>
      </div>
      <span title="Please leave no inputfields empty">
      <button class="btn btn-warning" type="button" data-bind="click: submitRecipe, enable:
      newTitle().length > 0 &&
      newCaption().length > 0 &&
      newServe().length > 0 &&
      newPrepTime().length > 0 &&
      newCookTime().length > 0 &&
      newKcal().length > 0 &&
      newFat().length > 0 &&
      newCarbs().length > 0 &&
      newSugar().length > 0 &&
      newProtein().length > 0 &&
      newSalt().length > 0 &&
      newIngredients().length > 0 &&
      newRecipe().length > 0" class="btn btn-dark"/>Submit</button>
      </span>
    </div>
  </div>

</form>
{% else %}

{%endif%}
{% endblock %}
