{% extends 'bakery/base.php' %}
{% load humanize %}

{% block content %}
<div class="row" id="row">
      <div class="col-sm-4">
        <img class="img-rounded recipeImg" src="{{recipe.imageDir}}" />
      </div>
      <div class="col-sm-8 info">
        <h1>{{recipe.title}}</h1>
        <h4>{{caption}}</h4>
        <table>
          <tbody>
            <tr>
              <td class="tab">Serves</td>
              <td><span class="label label-default">{{recipe.serve}}</span></td>

            </tr>
            <tr>
              <td class="tab">Preperation time</td>
              <td><span class="label label-default">{{recipe.prepTime}}</span></td>
            </tr>
            <tr>
              <td class="tab">Cooking time</td>
              <td><span class="label label-default">{{recipe.cookTime}}</span></td>
            </tr>
          </tbody>
        </table>
        <br />
        <p>Nutrition per serving:</p>
         <table class="table">
          <thead>
            <tr>
            <th>kCal</th>
            <th>Fat</th>
            <th>carbs</th>
            <th>sugar</th>
            <th>protein</th>
            <th>salt</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td>{{recipe.kcal}}</td>
            <td>{{recipe.fat}}</td>
            <td>{{recipe.carbs}}</td>
            <td>{{recipe.sugar}}</td>
            <td>{{recipe.protein}}</td>
            <td>{{recipe.salt}}</td>
            </tr>
          </tbody>
          </table>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 line"></div>
    </div>
     <div class="row">
      <div class="col-sm-4" id="ingredients">
          <h4>ingredients</h3>

            {{recipe.ingredients | linebreaksbr}}

      </div>
      <div class="col-sm-8 recipe">
        <h4>Recipe</h4>
        {{recipe.recipe | linebreaksbr}}
      </div>
      </div>
      <div class="row">
        <div class="col-sm-12 line2"></div>
      </div>

<div class="row">
          <div class="col-sm-12">
            <br />
                <a class="profile-but" href="{% url 'add_comment_to_recipe' pk=recipe.pk %}">Create comment</a>
              <hr>
                  {% for comment in recipe.comments.all %}
                      <div class="comment">
                          <div class="date">{{ comment.created_date }}</div>
                          <strong>{{ comment.author }}</strong>
                          <p>{{ comment.text|linebreaks }}</p>
                      </div>
                  {% empty %}
                      <p>No comments here yet :(</p>
                  {% endfor %}
               
</div>
</div>


{% endblock %}
